.config
.cpuprofile
.cspell
.dccache
.editorconfig
.eslintcache
.eslintrc.json
.git
.gitattributes
.gitignore
.heapprofile
.heapsnapshot
.history/
.idea/
.vscode
.vscode-test/
.VSCodeCounter/
.vsix
*.cpuprofile
*.heapprofile
*.heapsnapshot
*.vsix
coverage/
cspell.json
dprint.json
esbuild.config.js
esbuildTarget.json
extension.js.map
icon.svg
image/
jest.config.js
node_modules/
out/
src/
TODO.md
tsconfig.json